.footer-main {
  font-family: 'Merriweather';
  font-size: 24px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  margin-top: 160px;
  margin-left: 150px;
}

.footer-body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(13, 8, 44, 0.6);
  margin-top: 20px;
  margin-left: 150px;
  width: 750px;
}

.btn-sign-now {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  background-color: rgba(13, 8, 44, 1);
  margin-right: 15px;
  margin-left: 1150px; 
  width: 168px;
  height: 60px;
  padding: 15px 35px 15px 35px;
  gap: 8px;
  border-radius: 100px;
  opacity: 0px;
  border: none;
  white-space: nowrap;
  transform: translateY(-100px);
}

.horizontal-two-line {
  height: 1px;
  width: 1180px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-left: 150px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.footer-other {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.6px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(13, 8, 44, 0.6);
  white-space: nowrap;
  margin-top: -30px;
}

.footer-text {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(13, 8, 44, 0.8);
  white-space: nowrap;
  margin-bottom: 40px;
}

.footer-all {
  margin-left: 150px;
  margin-top: 60px;
  margin-right: 60px;
}

.footer-final {
  display: flex;
  grid-template-columns: repeat(4,300px);
}

.final-text {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(13, 8, 44, 0.4);
  text-align: center;
}