.live-chat {
  background: conic-gradient(from 180deg at 69.58% 44.09%, #F5AC76 0deg, #FECB7F 360deg);
  width: 100vw;
  height: 828.15px;
  top: 1697px;
  padding: 50px 0px 50px 0px;
  gap: 0px;
  opacity: 0px;
  margin-top: 150px;
  margin-left: -8px;
}

.live-main-text {
  font-family: 'Merriweather';
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  margin-top: 150px;
  margin-left: 150px;
  width: 600px;
}

.live-body-text {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-left: 150px;
  width: 500px;
  color: rgba(13, 8, 44, 0.6);
  margin-top: 20px;
}

.btn-book-demo {
font-family: 'Source Sans 3', sans-serif;
font-weight: 400;
font-size: 18px;
position: relative;
margin-left: 150px; 
color: white;
background-color: rgba(13, 8, 44, 1);
margin-top: 40px;
margin-right: 15px;
width: 155px;
height: 60px;
padding: 15px 35px 15px 35px;
gap: 8px;
border-radius: 100px;
opacity: 0px;
border: none;
white-space: nowrap;
}

.image1 {
position: absolute;
top: 40px;
left:790px;
bottom: 400px;
padding: 30px 0px 0px 0px;
gap: 35px;
opacity: 0px;
margin-top: 1800px;
width: 500px;
}

.text-edit {
display: flex; 
gap: 50px; 
margin-left: 150px; 
margin-top: 50px; 
}

.text-container {
  display: flex;
  flex-direction: column; 
}

.live-one-text {
font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: rgba(13, 8, 44, 1);
  margin-bottom: 10px; 
}

.live-two-text {
font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(13, 8, 44, 0.6);
  width: 250px;
}